.hed
{
    background-color:khaki;
    color: black;
    margin-top: 0;
    font-size: 35px;
}

.note
{
    background-color: ghostwhite;
    color: black;
    font-size:20px;
}

canvas
{
  border-radius: 15px;
  border:5px solid black;
}